*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: $Satoshi-Regular;
    @include font-size(20);
    line-height: 1.4;
    color: $gray;
    background-color: $gray-100;
}
h3{
  font-size: 100px;
  font-family: $Satoshi-Black;
  color: $black;
}