.form-input{
  border: 1px solid #DEDEE3;
  border-radius: 10px;
  height: 72px;
  width: 100%;
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: 20px;
  label{
    font-size: 16px;
    font-family: $Satoshi-Bold;
    color: #282828;
    display: block;
  }
  input{
    width: 100%;
    border: none;
    background: transparent;
    &:focus{
      outline: 0;
    }
  }
  .icon{
    position: absolute;
    right: 8px;
    bottom: 10px;
    cursor: pointer;
  }
}
input{
  &:focus{
    outline: 0;
  }
}