.home-hero{
  @media (max-width: 768px) {
    .container{
      padding: 0;
    }
  }
  .home-hero-inner{
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    flex-wrap: wrap;
    .video{
      position: relative;
      order: 2;
      @include size(50%,calc(100vh - 104px));
      border-radius: 0 0 15px 15px;
      overflow: hidden;
      @media (max-width: 768px) {
        order: 1;
        width: 100%;
      }
      img{
        @include size(100%,100%);
        object-fit: cover;
        object-position: center;
      }
      .video-play{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        background-color: transparent;
        @media (max-width: 768px) {
          img{
            width: 40px;
          }
        }
      }
    }
    .info{
      order: 3;
      position: absolute;
      right: -80px;
      top: 0;
      padding-top: 40px;
      @media (max-width: 768px) {
        position: static;
        width: 100%;
        order: 2;
        padding-top: 0;
        margin-top: -75px;
      }
      .radial-progress-inner{
        width: 54px !important;
        height: 54px;
        border-radius: 50%;
        overflow: hidden;
        top: 5px;
        img{
          @include size(100%,100%);
          object-fit: cover;
          object-position: center;
        }
      }
      .info-right{
        margin-top: 40px;
      }
      ul{
        list-style: none;
        margin: 0;
        padding: 0;
        @media (max-width: 768px) {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          max-width: 80%;
          margin: 0 auto;
        }
        li{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-bottom: 30px;
          text-align: center;
          img{
            @include size(48px,48px);
          }
          span{
            display: block;
            color: $primary;
            @include font-size(16px);
            font-family: $Satoshi-Medium;
          }
          a{
            text-decoration: none;
          }
          @media (max-width: 768px) {
            margin: 0 10px;
          }
        }
      }
    }
    .content{
      order: 1;
      width: 50%;
      padding-right: 100px;
      @media (max-width: 768px) {
        order: 3;
        width: 100%;
        padding: 20px 15px;
      }
      h3{
        @include font-size(48);
        font-family: $Satoshi-Black;
        color: $black;
        margin-bottom: 30px;
        @media (max-width: 768px) {
          @include font-size(24);
          margin-bottom: 10px;
        }
      }
      .download-btn{
        display: flex;
        align-items: center;
        margin-top: 30px;
        .app{
          margin-right: 15px;
        }
        button{
          background-color: transparent;
        }
        .app,
        .play{
          width: 150px;
          img{
            width: 100%;
          }
          @media (max-width: 768px) {
            width: 100px;
          }
        }

      }
    }
  }
}
.modal-wrap{
  overflow: hidden;
}
.video-wrap{
  width: 700px;
  background-color: $white;
  @media (max-width: 768px) {
    width: 96%;
  }
  video{
    width: 100%;
    height: 100%;
    margin-bottom: -10px;
  }
}

.content-showcase-wrap{
  margin-top: 100px;

  .content-inner{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 10px 10px 0 10px;
    margin-bottom: -10px;
    &.bg-yellow{
      background-color: $primary;
    }
    &.bg-red{
      background-color: #FCEFDF;
    }
    &.bg-blue{
      background-color: #CEEECE;
    }
    &.bg-black{
      background-color: $black;
    }
    .cover,
    .content{
      width: 50%;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
    .content{
      padding: 30px;

      h3{
        @include font-size(48);
        font-family: $Satoshi-Bold;
        margin-bottom: 20px;

      }
      @media (max-width: 768px) {
        padding: 20px 15px;
        h3{
          @include font-size(20);
        }
      }
      h3.text-white{
        color: $white;
      }
      p.text-white{
        color: $white;
      }
      h3.text-black{
        color: $black;
      }
      p.text-black{
        color: $gray;
      }
    }
    .cover{
      &.order-2{
        order: 2;
        @media (max-width: 768px) {
          order: 1;
        }
      }
      &.order-1{
        @media (max-width: 768px) {
          order: 2;
        }
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-bottom: -6px;
      }
    }
  }
}

//fun-fact
.fun-fact{
  margin: 100px 0;
  .fun-fact-inner{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 70px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .item{
      width: 33.33%;
      @include display-center;

      h3{
        @include font-size(50);
        font-family: $Satoshi-Bold;
        color: $primary;
        margin-right: 20px;
        display: flex;
        align-items: center;
      }
      p{
        max-width: 180px;
      }
    }
  }
}

.testimonial-section{
    .testimonial-header{
      margin-bottom: 50px;
      h3{
        @include font-size(48);
        font-family: $Satoshi-Bold;
        color: $black;
        margin-bottom: 15px;
        @media (max-width: 768px) {
          @include font-size(24);
        }
      }
      p{
        max-width: 60%;
        @media (max-width: 768px) {
          max-width: 100%;
        }
      }
    }
.testimonial-slide{
  position: relative;
  .nav-arrow{
    position: absolute;
    right: 50px;
    top: -155px;
    width: 50px;
    @media (max-width: 768px) {
      right: 15px;
      top: -175px;
    }
  }
  .carousel__prev,
  .carousel__next {
    background-color: $white;
    color: $gray;
  }
}
  .item{
    background-color: $white;
    padding: 30px;
    margin: 0 20px;
    text-align: left;
    @media (max-width: 768px) {
      margin: 0;
    }

    h3{
      font-size: 18px;
      font-family: $Satoshi-Medium;
      color: $black;
      margin: 15px 0 3px 0;
    }
  }
}

//question-area
.question-area{
  padding: 100px 0;
  .title{
    margin-bottom: 30px;
    h3{
      @include font-size(48);
      font-family: $Satoshi-Bold;
      color: $black;
      margin-bottom: 15px;
      @media (max-width: 768px) {
        @include font-size(24);
      }
    }
  }
  .question-ans{
    .c-accordion {
      border: none;
      border-top: 1px solid #ddd;
    }
    .c-accordion .c-accordion__item {
      border-bottom: 1px solid  #ddd;
    }
    .c-accordion .c-accordion__item.-active .c-accordion__title {
      background-color: transparent;
    }
    .c-accordion__title {
      padding: 1rem  0;
      font-size: 16px;
      color: $black;
      font-family: $Satoshi-Bold;
    }
    .c-accordion__content {
      border-top: none;
      padding: 0.5rem 0;
    }
  }
}